<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<% newContent.forEach(function(e) { %>
  <h3><%= e.Title %></h3>
  <p>
    <%= e.Content.substring(0, 100) + "..." %>
    <a href="/posts/<%= e.Title %>">Read More</a>
  </p>
<% }); %>

<%- include("partials/footer"); -%>
